body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.container {
    width: 1440px;
    height: 3100px;
    position: relative;
    background: white;
    margin: auto;
}

.header {
    width: 1440px;
    height: 101px;
    position: absolute;
    top: 0;
    background: black;
}

.nav-item {
    width: 144px;
    height: 50px;
    position: absolute;
    top: 27px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 400;
    word-wrap: break-word;
}

.nav-item-1 {
    left: 815px;
}

.nav-item-2 {
    width: 162px;
    left: 998px;
}

.nav-item-3 {
    width: 162px;
    left: 1187px;
}

.icon {
    width: 35px;
    height: 42.13px;
    position: absolute;
    left: 1377px;
    top: 26px;
}

.red-section {
    width: 1440px;
    height: 2746px;
    position: absolute;
    top: 132px;
    background: #C10000;
}

.grey-section {
    width: 1440px;
    height: 440px;
    position: absolute;
    background: #525252;
    border: 8px black solid;
}

.grey-section-1 {
    top: 101px;
}

.title {
    width: 768px;
    height: 138px;
    position: absolute;
    left: 323px;
    top: 252px;
    text-align: center;
    color: white;
    font-size: 115px;
    font-weight: 700;
    word-wrap: break-word;
}

.grey-section-2 {
    width: 1210px;
    height: 138px;
    left: 115px;
    top: 598px;
}

.grey-section-3 {
    width: 1210px;
    height: 138px;
    left: 115px;
    top: 789px;
}

.grey-section-4 {
    width: 1210px;
    height: 138px;
    left: 115px;
    top: 980px;
}

.grey-section-5 {
    width: 1210px;
    height: 138px;
    left: 115px;
    top: 1171px;
}

.grey-section-6 {
    width: 1210px;
    height: 138px;
    left: 115px;
    top: 1366px;
}

.grey-section-7 {
    width: 1210px;
    height: 138px;
    left: 115px;
    top: 1561px;
}

.profile-image {
    position: absolute;
    border-radius: 9999px;
}

.profile-image-1 {
    width: 100px;
    height: 100px;
    left: 365px;
    top: 617px;
}

.profile-image-2 {
    width: 100px;
    height: 100px;
    left: 365px;
    top: 808px;
}

.profile-image-3 {
    width: 130px;
    height: 130px;
    left: 350px;
    top: 984px;
}

.profile-image-4 {
    width: 100px;
    height: 100px;
    left: 365px;
    top: 1190px;
}

.profile-image-5 {
    width: 130px;
    height: 130px;
    left: 350px;
    top: 1366px;
}

.profile-image-6 {
    width: 100px;
    height: 100px;
    left: 365px;
    top: 1580px;
}

.contact-text {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 39px;
    font-weight: 600;
    word-wrap: break-word;
}

.contact-text-1 {
    width: 414px;
    height: 46px;
    left: 556px;
    top: 644px;
}

.contact-text-2 {
    width: 435px;
    height: 46px;
    left: 556px;
    top: 835px;
}

.contact-text-3 {
    width: 414px;
    height: 46px;
    left: 556px;
    top: 1026px;
}

.contact-text-4 {
    width: 414px;
    height: 46px;
    left: 556px;
    top: 1217px;
}

.contact-text-5 {
    width: 581px;
    height: 46px;
    left: 545px;
    top: 1412px;
}

.contact-text-6 {
    width: 535px;
    height: 46px;
    left: 556px;
    top: 1607px;
}

.large-grey-section {
    width: 1210px;
    height: 984px;
    position: absolute;
    left: 115px;
    top: 1752px;
    background: #525252;
    border: 8px black solid;
}

.large-title {
    width: 597px;
    height: 76px;
    position: absolute;
    left: 421px;
    top: 1783px;
    text-align: center;
    color: white;
   
    font-size: 64px;
    font-weight: 700;
    word-wrap: break-word;
}

.input-box {
    width: 1134px;
    height: 103px;
    position: absolute;
    background: white;
    border-radius: 14px;
    border: 1px black solid;
}

.input-box-1 {
    left: 154px;
    top: 2005px;
}

.input-box-2 {
    left: 149px;
    top: 2189px;
}

.input-box-3 {
    left: 149px;
    top: 2385px;
}

.label {
    position: absolute;
    text-align: center;
}

.label span {
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
}

.label .required {
    color: #FF0000;
}

.label-1 {
    width: 249px;
    height: 58px;
    left: 159px;
    top: 1947px;
}

.label-2 {
    width: 206px;
    height: 58px;
    left: 159px;
    top: 2131px;
}

.label-3 {
    width: 271px;
    height: 58px;
    left: 154px;
    top: 2327px;
}

.footer {
    width: 1440px;
    height: 228px;
    position: absolute;
    top: 2872px;
}

.footer-background {
    width: 1440px;
    height: 228px;
    position: absolute;
    background: black;
}

.footer-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 54px;
    border-radius: 9999px;
}

.footer-icon-1 {
    left: 455px;
}

.footer-icon-2 {
    left: 670px;
}

.footer-icon-3 {
    left: 885px;
}

.submit-box {
    width: 382px;
    height: 97px;
    position: absolute;
    left: 528px;
    top: 2755px;
    background: white;
    border-radius: 14px;
}

.submit-text {
    width: 189px;
    height: 56px;
    position: absolute;
    left: 626px;
    top: 2767px;
    text-align: center;
    color: black;
    font-size: 56px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
