body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}
.container {
    width: 1440px;
    height: 3353px;
    position: relative;
    background: white;
}

.red-background {
    width: 1440px;
    height: 2127px;
    left: 0px;
    top: 1222px;
    position: absolute;
    background: #C10000;
}

.images-container {
    width: 1440px;
    height: 811px;
    left: 0px;
    top: 101px;
    position: absolute;
}

.large-image {
    width: 1440px;
    height: 654px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.circle-image {
    width: 400px;
    height: 400px;
    left: 510px;
    top: 411px;
    position: absolute;
    border-radius: 9999px;
    border: 12px black solid;
}

.footer-container {
    width: 1440px;
    height: 311px;
    left: 0px;
    top: 3042px;
    position: absolute;
}

.black-background {
    width: 1440px;
    height: 311px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: black;
}

.small-circle-image {
    width: 100px;
    height: 100px;
    left: 455px;
    top: 75px;
    position: absolute;
    border-radius: 9999px;
}

.small-circle-image.second {
    left: 670px;
}

.small-circle-image.third {
    left: 885px;
}

.top-black-background {
    width: 1440px;
    height: 101px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: black;
}

.top-circle-image {
    width: 75px;
    height: 75px;
    left: 29px;
    top: 14px;
    position: absolute;
    border-radius: 9999px;
}

.nav-item {
    width: 144px;
    height: 50px;
    left: 815px;
    top: 27px;
    position: absolute;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 32px;
    font-weight: 400;
    word-wrap: break-word;

}

.nav-item.second {
    left: 998px;
}

.nav-item.third {
    left: 1187px;
}

.top-small-image {
    width: 35px;
    height: 42.13px;
    left: 1377px;
    top: 26px;
    position: absolute;
}

.left-black-background {
    width: 455px;
    height: 1820px;
    left: 0px;
    top: 1222px;
    position: absolute;
    background: black;
}

.left-image {
    width: 364px;
    height: 364px;
    left: 45px;
    top: 1289px;
    position: absolute;
}

.white-border-box {
    width: 745px;
    height: 172px;
    left: 580px;
    top: 1354px;
    position: absolute;
    background: white;
    border: 6px black solid;
}

.text-box {
    width: 733px;
    height: 157px;
    left: 595px;
    top: 1375px;
    position: absolute;
    color: black;
    font-size: 22px;
    font-weight: 600;
    word-wrap: break-word;
}

.large-text {
    width: 170px;
    height: 76px;
    left: 580px;
    top: 1653px;
    position: absolute;
    color: white;
    font-size: 64px;
    font-weight: 600;
    word-wrap: break-word;
}

.large-text.second {
    width: 250px;
    left: 113px;
    top: 1737px;
}

.large-text.third {
    width: 385px;
    left: 35px;
    top: 2470px;
}

.large-text.fourth {
    width: 318px;
    left: 789px;
    top: 2191px;
}

.large-text.fifth {
    width: 326px;
    left: 1000px;
    top: 1653px;
}

.white-text-box {
    width: 320px;
    height: 324px;
    left: 535px;
    top: 1720px;
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
    word-wrap: break-word;
}

.white-text-box.second {
    left: 80px;
    top: 1820px;
}

.white-text-box.third {
    height: 189px;
    left: 1010px;
    top: 1718px;
}

.bold-text {
    width: 235px;
    height: 27px;
    left: 475px;
    top: 2595px;
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 700;
    word-wrap: break-word;
}

.bold-text.second {
    top: 2945px;
}

.bold-text.third {
    left: 827px;
    top: 2575px;
}

.bold-text.fourth {
    left: 830px;
    top: 2945px;
}

.bold-text.fifth {
    left: 1179px;
    top: 2575px;
}

.bold-text.sixth {
    left: 1182px;
    top: 2945px;
}

.profile-image {
    width: 75px;
    height: 75px;
    left: 12px;
    top: 2587px;
    position: absolute;
    border-radius: 9999px;
}

.profile-image.second {
    width: 62px;
    height: 61px;
    left: 56px;
    top: 2703px;
}

.contact-info {
    width: 355px;
    height: 29px;
    left: 100px;
    top: 2607px;
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: 600;
    word-wrap: break-word;
}

.contact-info.second {
    width: 187px;
    left: 193px;
    top: 2719px;
}

.large-bottom-image {
    width: 412px;
    height: 243px;
    left: 25px;
    top: 2799px;
    position: absolute;
}

.large-title {
    width: 1003px;
    height: 98px;
    left: 220px;
    top: 950px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 96px;
    font-weight: 600;
    word-wrap: break-word;
}

.project-image {
    width: 235px;
    height: 235px;
    left: 475px;
    top: 2334px;
    position: absolute;
}

.project-image.second {
    top: 2701px;
    left: 827px;
}

.project-image.third {
    left: 827px;
    top: 2336px;
}

.project-image.fourth {
    top: 2703px;
    left: 1180px;
}

.project-image.fifth {
    left: 1180px;
    top: 2336px;
}

.project-image.sixth {
    top: 2703px;
}
