body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.container {
    width: 1440px;
    height: 2878px;
    position: relative;
    background: white;
    margin: auto;
}

.header {
    width: 1440px;
    height: 106px;
    position: absolute;
    top: 0;
    background: black;
}

.nav-item {
    width: 144px;
    height: 50px;
    position: absolute;
    top: 27px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 400;
    word-wrap: break-word;
}

.nav-item-1 {
    left: 815px;
}

.nav-item-2 {
    left: 998px;
    width: 162px;
}

.nav-item-3 {
    left: 1187px;
    width: 162px;
}

.icon {
    width: 55px;
    height: 40px;
    position: absolute;
    left: 1365px;
    top: 26px;
}

.red-section {
    width: 1440px;
    height: 2766px;
    position: absolute;
    top: 103px;
    background: #C10000;
}

.grey-section {
    width: 1424px;
    height: 1989px;
    position: absolute;
    top: 887px;
    background: #525252;
    border: 8px black solid;
    left: 8px;
}

.main-image {
    width: 1243px;
    height: 680px;
    position: absolute;
    left: 106px;
    top: 142px;
}

.title {
    width: 768px;
    height: 138px;
    position: absolute;
    left: 336px;
    top: 371px;
    text-align: center;
    color: white;
    font-size: 115px;
    font-weight: 700;
    word-wrap: break-word;
}

.project-image {
    width: 400px;
    height: 281px;
    position: absolute;
    left: 106px;
}

.project-image-1 {
    top: 1030px;
}

.project-image-2 {
    top: 1447px;
}

.project-image-3 {
    top: 1874px;
}

.project-image-4 {
    top: 2301px;
}

.project-description {
    width: 495px;
    height: 81px;
    position: absolute;
    left: 521px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

.project-description-1 {
    top: 1128px;
}

.project-description-2 {
    top: 1559px;
}

.project-description-3 {
    top: 1999px;
}

.project-description-4 {
    top: 2418px;
}

.project-title {
    width: 307px;
    height: 63px;
    position: absolute;
    left: 521px;
    color: white;
    font-size: 36px;
    font-weight: 700;
    word-wrap: break-word;
}

.project-title-1 {
    top: 1042px;
}

.project-title-2 {
    top: 1451px;
}

.project-title-3 {
    top: 1886px;
    height: 86px;
}

.project-title-4 {
    top: 2313px;
    height: 86px;
}

.more-info-button {
    width: 185px;
    height: 48px;
    position: absolute;
    left: 1116px;
    background: #E30000;
}

.more-info-button-1 {
    top: 1123px;
}

.more-info-button-2 {
    top: 1540px;
}

.more-info-button-3 {
    top: 1967px;
}

.more-info-button-4 {
    top: 2394px;
}

.more-info-text {
    width: 144px;
    height: 29px;
    position: absolute;
    left: 1137px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    word-wrap: break-word;
}

.more-info-text-1 {
    top: 1132px;
}

.more-info-text-2 {
    top: 1549px;
}

.more-info-text-3 {
    top: 1976px;
}

.more-info-text-4 {
    top: 2403px;
}

.footer {
    width: 1440px;
    height: 228px;
    position: absolute;
    top: 2660px;
}

.footer-background {
    width: 1440px;
    height: 228px;
    position: absolute;
    background: black;
}

.footer-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 54px;
    border-radius: 9999px;
}

.footer-icon-1 {
    left: 455px;
}

.footer-icon-2 {
    left: 670px;
}

.footer-icon-3 {
    left: 885px;
}
