.container {
    width: 1440px;
    height: 3100px;
    position: relative;
    background: white;
  }
  
  .header {
    width: 1440px;
    height: 101px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: black;
    margin: auto;
  }
  
  .nav {
    position: absolute;
    top: 27px;
    left: 0px;
  }
  
  .nav-item {
    width: 144px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
  }
  
  .nav-item:nth-child(1) {
    left: 815px;
  }
  
  .nav-item:nth-child(2) {
    left: 998px;
  }
  
  .nav-item:nth-child(3) {
    left: 1187px;
  }
  
  .nav img {
    width: 35px;
    height: 42.13px;
    left: 1377px;
    top: 26px;
    position: absolute;
  }
  
  .main {
    width: 1440px;
    height: 2746px;
    left: 0px;
    top: 132px;
    position: absolute;
    background: #C10000;
  }
  
  .contact-header {
    width: 768px;
    height: 138px;
    left: 323px;
    top: 252px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 115px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .contact-section {
    position: absolute;
    top: 598px;
    left: 115px;
    display: flex;
    justify-content: space-between;
  }
  
  .contact-item {
    width: 121px;
    height: 138px;
    background: #525252;
    border: 8px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-item img {
    width: 100px;
    height: 100px;
    border-radius: 9999px;
  }
  
  .contact-info {
    text-align: center;
    color: white;
    font-size: 39px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .message-section {
    position: absolute;
    top: 101px;
    left: 115px;
    width: 1210px;
    height: 984px;
    background: #525252;
    border: 8px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .message-header {
    width: 597px;
    height: 76px;
    left: 421px;
    top: 1783px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 64px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .message-form {
    width: 1134px;
    height: 103px;
    left: 154px;
    top: 2005px;
    position: absolute;
    background: white;
    border-radius: 14px;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-item {
    width: 249px;
    height: 58px;
    text-align: center;
  }
  
  .form-item span {
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .form-item:nth-child(1) {
    width: 249px;
  }
  
  .form-item:nth-child(2) {
    width: 206px;
  }
  
  .form-item:nth-child(3) {
    width: 271px;
  }
  
  .footer {
    width: 1440px;
    height: 228px;
    left: 1px;
    top: 2872px;
    position: absolute;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-item {
    width: 100px;
    height: 100px;
    border-radius: 9999px;
    background: white;
    position: absolute;
  }
  
  .footer-item img {
    width: 100px;
    height: 100px;
    border-radius: 9999px;
  }
  
  .send-button {
    width: 189px;
    height: 56px;
    text-align: center;
    color: black;
    font-size: 56px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
    position: absolute;
    left: 626px;
    top: 2767px;
  }